
		::-webkit-scrollbar {
			width: 0px;
			/* remove scrollbar space */
			background: transparent;
			/* optional: just make scrollbar invisible */
		}

		@font-face {
 			font-family: Whitney HTF;
  			src: url(fonts/WhitneyHTF-Book.otf);
  			font-weight: 400;
  			font-style: normal;
  		}

  		@font-face {
 			font-family: Whitney HTF;
  			src: url(fonts/WhitneyHTF-Medium.otf);
  			font-weight: 500;
  			font-style: normal;
  		}	

   		@font-face {
 			font-family: Whitney HTF;
  			src: url(fonts/WhitneyHTF-SemiBold.otf);
  			font-weight: 600;
  			font-style: normal;
  		}

   		@font-face {
 			font-family: Whitney HTF;
  			src: url(fonts/WhitneyHTF-Bold.otf);
  			font-weight: 700;
  			font-style: normal;
  		}


  		html, body {
			  padding: 0;
			  margin: 0;

			}

		body {
			font-family: 'Whitney HTF';
			font-weight: 400;
			color: #48525D;
		}

		h1{
			margin: 0px;
			font-size: 35px;
			font-weight: 700;
		}

		h3{
			margin:10px 0px 0px 10px;
			font-size: 18px;
			font-weight: 700;
		}

		p {
			font-size: 14px;
			color: #3E4956;
		}


/* TOP TITLE */

		#title {
			position: absolute;
			left: 0px;
			top: 0px;
			z-index: 10;
			margin: 25px 0px 0px 30px;
			width: auto;
			font-size: 20px;
			font-family: 'Whitney HTF';
			font-weight: 700;
			cursor: pointer;
		}

		#subtitle {
			position: absolute;
			left: 0px;
			top: 0px;
			z-index: 10;
			margin: 45px 0px 0px 30px;
			width: auto;
			font-size: 16px;
			font-family: 'Whitney HTF';
			font-weight: 300;
			cursor: pointer;
		}

/* BOTTOM MODULE */

		.cultures {
			background-color: #FFFFFF;
			z-index: 1;
			display: flex;
			width: 180px;
			height: 160px;
			font: 14px;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			margin: 25px 10px 25px 25px;
			border-radius: 10px;
	/*			position: relative;

		display:block;
			display: flex;
			align-items: flex-end;
			flex-wrap: wrap; */
			cursor: pointer;
		}

		.box-title {
			margin: 10px 0px 5px 20px;
		}

		.box-dates {
			font-size: 13px;
			margin: 5px 0px 15px 20px;
			color: #939DA8;
		}

		.box-image {
			width: 180px;
			display: inline-block;
  			align-self: flex-end;
			border-radius: 0 0 10px 10px;
		}

		.boxline {
  			border-left: 6px solid green;
  			height: 17%;
		}



/* RIGHT MODULE */


		.innerbox {
			padding: 10px 22px 10px 16px;
			border-left: 6px solid green;
  			height: 4%;
		}

		.module-title{
			margin: 10px 0px 7px 0px;
			font-size: 26px;

		}

		.module-mintitle{
			margin: 10px 0px -10px 0px;
			font-size: 16px;
			font-weight: 600;
			cursor: pointer;

		}

		.module-text {
			margin: 20px 0px 20px 0px;
			color: #939DA8;
		}

		.curlylegend {
			font-size: 13px;
			margin: 5px 0px 10px 0px;
			color: #939DA8;
			font-style: italic;
		}

		.legend {
			font-size: 14px;
			margin: 8px 0px 5px 0px;
			color: #939DA8;
		}

		hr {
	        height: 1px;
	        background-color: #DEDEDE;
	        border: none;
	        margin-bottom: 20px;
    	}

    	.module-button{
    		border: 2px solid #4CAF50;
    		border-radius: 5px;
    		margin: 8px 10px 0 0;
    		color: #4CAF50;
    		padding: 5px 10px 5px 10px;
  			text-align: center;
  			text-decoration: none;
  			display:inline;
    	}

    	.svgstyle{
    		position:absolute;
    		left:10px;
    		top: 12px;
    	}

    	.home-button {
    		font-weight: 600;
    		font-size: 14px;
    		width: 400px;
			height: 27px;
			text-align: center;
			padding-top: 10px;
			cursor: pointer;

    	}

    	.button-link {
  			text-decoration: none;
  			color: #4CAF50;
    	}


		.boldy {
			font-weight: 600;
			color: #939DA8;
		}


/* OTHER STYLES */


		#map{
			/*	height: calc(70vh - 15px);*/
			height: 70vh;
			overflow: scroll;
			margin: 0px;
			padding: 0px;
		}


		.bottom-module-initial {
			position: absolute;
			left: 0px;
			bottom: 0px;
			z-index: 2;
			width: 100%;
			height:33%;
			display: flex;
			flex-direction: row;
			background-color: #F7F7F7;
			overflow: scroll;
		}


		.overlay1 {
			z-index: 20;
			position: absolute;
  			bottom: 0; 
			z-index: 10;
			width: 100%;
			height:33%;
			transition: .5s ease;
			background:rgba(0,0,0,0.2);
}

/* RIGHT MODULE */
		.bottom-module {
			position: absolute;
			right: 0px;
			top: 0px;
			z-index: 10;
			width: 400px;
			height:100%;
			background-color: #FFFFFF;
			overflow: scroll;
			margin: 0px;
		}


		.right-module {
			position: absolute;
			right: 0px;
			top: 0px;
			z-index: 10;
			width: 400px;
			height:100%;
			background-color: #FFFFFF;
			overflow: scroll;
			margin: 0px;
		}

		.hidden {
			display: none;

		}


